global
    log stdout format raw local0

defaults
    log global

    mode http

    option httplog
    option dontlognull
    option forwardfor

    timeout connect 5s
    timeout client 30s
    timeout server 30s

    retries 3

frontend docapi_front
    bind *:80

    default_backend docapi_backend

backend docapi_backend
    balance roundrobin

    option httpchk GET /health
    http-check expect status 200

    server backend-1 doc-api-service-1:4040 check inter 5s fall 3 rise 2
    server backend-2 doc-api-service-2:4041 check inter 5s fall 3 rise 2

listen stats
    mode http
    bind *:8404

    stats enable
    stats uri /stats
    stats refresh 5s

    # Login dashboard
    stats realm HAProxy\ Statistics
    stats auth admin:admin123

    # Tampilkan informasi versi
    stats show-legends
    stats show-node

    # Bisa enable/disable backend dari dashboard
    stats admin if TRUE
